In [1]:
# Importing Libraries 
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization
import seaborn as sns # for statistical data visualization
%matplotlib inline

# Saving result output 
import os
for dirname, _, filenames in os.walk('/K_Means_Clustering/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [27]:
# Importing Datasets
df = pd.read_csv("/Users/queene/Desktop/DM_UAS/Question_One/Dataset.csv", sep=';', header=0)

df.head()

  A00,0,A000,"Cholera due to Vibrio cholerae 01, biovar cholerae","Cholera due to Vibrio cholerae 01, biovar cholerae","Cholera"
0  A00,1,A001,"Cholera due to Vibrio cholerae 01,...
1  A00,9,A009,"Cholera, unspecified","Cholera, un...
2  A010,0,A0100,"Typhoid fever, unspecified","Typ...
3  A010,1,A0101,"Typhoid meningitis","Typhoid men...
4  A010,2,A0102,"Typhoid fever with heart involve...

In [28]:
df.shape

(71703, 1)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71703 entries, 0 to 71702
Data columns (total 1 columns):
 #   Column                                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                                          --------------  -----
 0   A00,0,A000,"Cholera due to Vibrio cholerae 01, biovar cholerae","Cholera due to Vibrio cholerae 01, biovar cholerae","Cholera"  71703 non-null  object
dtypes: object(1)
memory usage: 560.3+ KB

In [31]:
df.columns

Index(['A00,0,A000,"Cholera due to Vibrio cholerae 01, biovar cholerae","Cholera due to Vibrio cholerae 01, biovar cholerae","Cholera"'], dtype='object')

In [33]:
df.describe()

       A00,0,A000,"Cholera due to Vibrio cholerae 01, biovar cholerae","Cholera due to Vibrio cholerae 01, biovar cholerae","Cholera"
count                                               71703
unique                                              71703
top     A00,1,A001,"Cholera due to Vibrio cholerae 01,...
freq                                                    1